<div class="flex flex-col flex-auto min-w-0">
  <div class="flex-auto p-4 md:p-5 bg-card m-4  rounded-md">
    <div class="flex flex-row justify-between pb-2">
      <div>
        <h2 class="text-2xl md:text-xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate md:px-6">
          ข้อมูลร้านค้า
        </h2>
      </div>
    </div>
    <div class="flex-auto p-4 md:p-5">
      <div class="grid gap-4 w-full sm:grid-cols-1 md:grid-cols-1">
        <form [formGroup]="form">
          <div class="flex flex-col my-2">
            <div class="-mx-3 md:flex mb-6">
              <div class="md:w-full px-3">
                <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                  <mat-label>ชื่อร้านค้า</mat-label>
                  <input matInput [placeholder]="'กรอกหน่วยนับ'" formControlName="name">
                </mat-form-field>
              </div>
            </div>
            <div class="-mx-3 md:flex mb-6">
              <div class="md:min-w-full px-3 mb-6 md:mb-0">
                <mat-form-field class="w-full">
                  <mat-label>ที่อยู่ร้านค้า</mat-label>
                  <textarea matInput [placeholder]="'กรอกรายละเอียดที่อยู่'" [rows]="3" formControlName="address"></textarea>
                </mat-form-field>
              </div>
            </div>
            <div mat-dialog-actions class="flex justify-end mt-2">
              <button class="px-6 ml-3" mat-flat-button [color]="'primary'" (click)="Submit()">
                ตกลง
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<app-page-branch [storeId]="storeId"></app-page-branch>
