<div class="flex-col flex h-full">
    <mat-toolbar class="flex justify-between">
        <button mat-icon-button mat-dialog-close class="example-icon " aria-label="Example icon-button with menu icon">
            <mat-icon svgIcon="heroicons_outline:x-mark"></mat-icon>
        </button>
        <div>
            <span class="font-bold text-[20px]">เพิ่มข้อมูลลูกค้า</span>
        </div>

        <span class="example-spacer"></span>
    </mat-toolbar>
    <div class="flex justify-between flex-col grow">
        <div class="flex justify-center grow">
            <form
                class="flex flex-col w-[712px] h-fit  mt-8 p-8 pb-4 bg-card rounded-2xl shadow-[0px_10px_20px_1px_] shadow-gray-200 overflow-hidden "
                [formGroup]="form">
                <!-- <div class="mb-5">
                    <h1 class="font-bold text-lg">ข้อมูลลูกค้า</h1>
                </div> -->
                <div class="grid grid-cols-2 w-full gap-3 ">
                    <div class="relative w-full">
                        <label class="absolute -top-2 left-2 z-40 pl-2 pr-2 text-gray-400 text-sm bg-white"
                            for="">รหัสลูกค้า</label>
                        <mat-form-field class="flex-auto w-full " subscriptSizing="fixed">
                            <input matInput [formControlName]="'code'" required [placeholder]="'ระบุรหัสลูกค้า'">
                            <mat-error>Required field!</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="relative w-full">
                        <label class="absolute -top-2 left-2 z-40 pl-2 pr-2 text-gray-400 text-sm bg-white"
                            for="">ชื่อ-นามสกุล</label>
                        <mat-form-field class="flex-auto w-full" subscriptSizing="fixed">
                            <input matInput [formControlName]="'name'" required [placeholder]="'ระบุชื่อ'">
                            <mat-error>Required field!</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="relative w-full">
                        <label class="absolute -top-2 left-2 z-40 pl-2 pr-2 text-gray-400 text-sm bg-white"
                            for="">เบอร์โทรศัพท์ติดต่อ</label>
                        <mat-form-field class="flex-auto w-full" subscriptSizing="fixed">
                            <input matInput [formControlName]="'phone'" required
                                [placeholder]="'ระบุเบอร์โทรศัพท์ลูกค้า'">
                            <mat-error>Required field!</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="relative w-full">
                    <label class=" left-2 z-40 pb-2 pl-2 pr-2 text-gray-400 text-sm bg-white"
                        for="">ที่อยู่ลูกค้า</label>
                    <textarea ng-model="myTextarea" [formControlName]="'address'" required
                        [placeholder]="'ระบุที่อยู่ลูกค้า'" class=" w-full h-20 border-2 p-2 border-gray-200">
                    </textarea>
                    <!-- <input matInput [formControlName]="'phone'" required [placeholder]="'ระบุที่อยู่ลูกค้า'"> -->
                    <!-- <mat-form-field class="flex-auto w-full" subscriptSizing="fixed">
                        <input matInput [formControlName]="'phone'" required [placeholder]="'ระบุที่อยู่ลูกค้า'">
                        <mat-error>Required field!</mat-error>
                    </mat-form-field> -->
                </div>
            </form>
        </div>
        <div class="flex justify-between border-t  mt-8 px-8 py-5 bg-white dark:bg-gray-700 bottom-0 w-full ">
            <div>
                <!-- <button mat-stroked-button color="primary"
                    class="gap-2 text-primary-600 border-2 border-red-500 rounded-xl">ลบลูกค้า
                    <mat-icon class="text-primary-500" svgIcon="heroicons_outline:trash"></mat-icon>
                </button> -->
            </div>

            <div class="flex ">
                <button class="px-8 ml-3 rounded-md flex flex-auto " mat-raised-button mat-dialog-close>
                    ยกเลิก
                </button>
                <button class="px-8 ml-3 shadow-sm rounded-md" mat-flat-button [color]="'primary'" (click)="Submit()">
                    บันทึก
                </button>
            </div>
        </div>
    </div>
</div>