<div class="md:max-w-lg">
    <h1 mat-dialog-title class="text-xl font-semibold mb-4" *ngIf="this.data?.type === 'New'">เพิ่มข้อมูลลูกค้า</h1>
    <h1 mat-dialog-title class="text-xl font-semibold mb-4" *ngIf="this.data?.type === 'Edit'">แก้ไขข้อมูลลูกค้า</h1>
    <div mat-dialog-content class="max-h-96 overflow-y-auto md:max-h-180">
        <form [formGroup]="addForm">
            <div class="flex-auto">
                <div class="flex flex-col md:flex mb-6">
                    <!-- <div class="md:w-full">
                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                            <mat-label>รหัสลูกค้า</mat-label>
                            <input matInput [placeholder]="'กรุณาระบุรหัสลูกค้า'" formControlName="code">
                        </mat-form-field>
                    </div> -->
                    <div class="md:w-full">
                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                            <mat-label>ชื่อลูกค้า</mat-label>
                            <input matInput [placeholder]="'กรุณาระบุลูกค้า'" formControlName="name">
                        </mat-form-field>
                    </div>
                    <div class="md:w-full">
                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                            <mat-label>เบอร์ติดต่อ</mat-label>
                            <input matInput [placeholder]="'กรุณาระบุเบอร์ติดต่อ'" formControlName="phoneNumber">
                        </mat-form-field>
                    </div>
                    <div class="md:w-full">
                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                            <mat-label>ทะเบียนรถ</mat-label>
                            <input matInput [placeholder]="'กรุณาระบุทะเบียน'" formControlName="license_plate">
                        </mat-form-field>
                    </div>
                    <div class="md:w-full">
                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                            <mat-label>ระดับลูกค้า</mat-label>
                            <mat-select [formControlName]="'level'">
                                <mat-option *ngFor="let item of level;" [value]="item.id">
                                    {{item.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="md:w-full">
                        <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                            <mat-label>เลขประจำตัวผู้เสียภาษี</mat-label>
                            <input matInput [placeholder]="'กรุณาระบุเลขประจำตัวผู้เสียภาษี'" formControlName="taxId" maxlength="13">
                        </mat-form-field>
                    </div>
                    <div class="md:w-full">
                        <mat-form-field class="w-full" [ngClass]="formFieldHelpers">
                            <mat-label>ที่อยู่</mat-label>
                            <textarea matInput [placeholder]="'กรอกข้อมูลที่อยู่'" [rows]="3" formControlName="address"></textarea>
                            <mat-icon class="icon-size-5" matPrefix>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                    aria-hidden="true" fit="" height="100%" width="100%"
                                    preserveAspectRatio="xMidYMid meet" focusable="false">
                                    <path fill-rule="evenodd"
                                        d="M11.54 22.351l.07.04.028.016a.76.76 0 00.723 0l.028-.015.071-.041a16.975 16.975 0 001.144-.742 19.58 19.58 0 002.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 00-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 002.682 2.282 16.975 16.975 0 001.145.742zM12 13.5a3 3 0 100-6 3 3 0 000 6z"
                                        clip-rule="evenodd"></path>
                                </svg></mat-icon>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div mat-dialog-actions class="flex justify-end">
        <button class="px-6 ml-3" mat-flat-button [color]="'primary'" (click)="Submit()">
            ตกลง
        </button>
        <button class="px-6 ml-3" mat-flat-button [color]="'warn'" (click)="onClose()">
            ยกเลิก
        </button>
    </div>
</div>
