<div class="flex flex-col flex-auto min-w-0">
    <div class="flex-auto  sm:p-10 bg-card m-4 p-4 rounded-md">
        <div class="flex justify-between pb-2 mt-2">
            <div>
                <h2 class="text-2xl md:text-xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    รายชื่อสาขา
                </h2>
            </div>
            <div>
                <button color="primary" mat-flat-button
                class=" text-white  bg-primary-500"
                (click)="opendialogbranch()">
                <mat-icon class="icon-size-4 " svgIcon="heroicons_outline:plus"></mat-icon>
                <div class="flex justify-center items-center ml-2">
                  เพิ่มสาขา
                </div>
            </button>
            </div>
        </div>
        <table datatable [dtOptions]="dtOptions" class="row-border hover">
            
        </table>
    </div>
</div>