<div class="flex flex-col w-full max-w-md bg-[#F6F6F8] max-h-dvh">
	<asha-web-ordering-bar [title]="'เลือกวิธีการชำระ'" [back]="true"></asha-web-ordering-bar>
	<div class="bg-card mx-4 mt-4 rounded-[10px] py-[30px] px-4 flex flex-col items-center gap-4">
		<div class="flex flex-col justify-center items-center">
			<img class="h-[100px] w-[100px] scale-125 z-0 -translate-y-2" src="../../../assets/ordering/loading.gif" alt="loading">
			<div class="flex flex-col items-center z-20">
				<p class="text-[#424242] text-[20px] font-medium">ดำเนินการชำระเงิน</p>
				<p class="text-[#424242] text-[15px] font-normal">ประเภท: QR Promptpay</p>
			</div>
		</div>
		<div class="flex justify-center" (click)="openLoading()">
			<p class="text-[#1264E3] text-[34px] font-semibold">{{all_total| number: '1.2-2'}} ฿</p>
		</div>
		<div class="flex justify-center rounded-[10px]">
			<img class="w-[256px] h-[320]" src="../../../assets/ordering/temp_qr.png" alt="temp_qr">
		</div>
	</div>

	<!--<div class="w-full flex items-end h-full">
		<div class="w-full p-4 border-t-[1px] border-[#78909C]">
			<div class="w-full px-3 py-3 bg-[#1264E3] rounded-[8px] text-center" (click)="next()">
				<p class="text-[#FFFFFF] text-[16px] font-medium">ยืนยัน</p>
			</div>
		</div>
	</div>-->
</div>
