<div class="flex flex-col pt-3">
    <div class="flex justify-between pb-4 border-b-[1px] border-[#78909C]">
      <p class="text-[23px] text-[#424242] font-medium">{{data.name}}</p>
      <mat-icon (click)="close()" class="icon-size-4 text-[#616161] cursor-pointer" svgIcon="heroicons_outline:x-mark"></mat-icon>
    </div>
    <ng-container *ngFor="let item of data.data">
      <div class="flex justify-between py-[16px] items-center" *ngIf="item.type == 'quantity'">
        <div class="text-[#424242] text-[16px] font-medium pt-1">เพิ่มช็อต</div>
        <div class="flex">
          <div class="bg-[#CFD8DC] rounded-[8px] h-8 w-8 flex justify-center items-center cursor-pointer" [ngClass]="num_shot == 0? 'opacity-50': 'opacity-1'"  (click)="num_shot == 0? '': changeShot('minus')">
            <mat-icon svgIcon="heroicons_outline:minus-small"></mat-icon>
          </div>
          <p class="flex items-center px-[10px] text-[#424242] text-[16px] font-normal">{{num_shot}}</p>
          <div class="bg-[#CFD8DC] rounded-[8px] h-8 w-8 flex justify-center items-center cursor-pointer" (click)="changeShot('plus')">
            <mat-icon svgIcon="heroicons_outline:plus-small"></mat-icon>
          </div>
        </div>
      </div>
      <div class="flex flex-col" *ngIf="item.type == 'single'">
        <p class="text-[#424242] text-[16px] font-medium mb-1">{{item.name}}</p>
        <div class="grid grid-cols-5 gap-[14px]" [ngClass]="MaxWidthTextColspan(item.productAttributeValues)">
          <button *ngFor="let value of item.productAttributeValues" class="text-[15px] text-[#424242] font-medium p-4 border-[1px] border-[#1264E3] rounded-[8px] flex justify-center" [ngClass]="attribute[item.name] == value.name ? 'bg-[#E8EAF6]':'bg-[#FFFFFF]'" (click)="setAttribute(item.name, value.name, item.type)">{{value.name}}</button>
          <!--<button class="text-[15px] text-[#424242] font-medium p-4 border-[1px] border-[#1264E3] rounded-[8px]" [ngClass]="size_selected == 'M' ? 'bg-[#E8EAF6]':'bg-[#FFFFFF]'" (click)="setSize('M')">M</button>
          <button class="text-[15px] text-[#424242] font-medium p-4 border-[1px] border-[#1264E3] rounded-[8px]" [ngClass]="size_selected == 'L' ? 'bg-[#E8EAF6]':'bg-[#FFFFFF]'" (click)="setSize('L')">L</button>-->
        </div>
      </div>
      <div class="flex flex-col" *ngIf="item.type == 'multiple'">
        <p class="text-[#424242] text-[16px] font-medium mb-1">{{item.name}}</p>
        <div class="grid grid-cols-5 gap-[14px]">
          <button *ngFor="let value of item.productAttributeValues" class="text-[15px] text-[#424242] font-medium p-4 border-[1px] border-[#1264E3] rounded-[8px] flex justify-center" [ngClass]="attribute[item.name].find(value.name) ? 'bg-[#E8EAF6]':'bg-[#FFFFFF]'" (click)="setAttribute(item.name, value.name, item.type)">{{value.name}}</button>
          <!--<button class="text-[15px] text-[#424242] font-medium p-4 border-[1px] border-[#1264E3] rounded-[8px]" [ngClass]="size_selected == 'M' ? 'bg-[#E8EAF6]':'bg-[#FFFFFF]'" (click)="setSize('M')">M</button>
          <button class="text-[15px] text-[#424242] font-medium p-4 border-[1px] border-[#1264E3] rounded-[8px]" [ngClass]="size_selected == 'L' ? 'bg-[#E8EAF6]':'bg-[#FFFFFF]'" (click)="setSize('L')">L</button>-->
        </div>
      </div>
    </ng-container>
    
    <div class="flex flex-col">
      <p class="text-[#424242] text-[16px] font-medium mb-1">ขนาด</p>
      <div class="grid grid-cols-5 gap-[14px]">
        <button class="text-[15px] text-[#424242] font-medium p-4 border-[1px] border-[#1264E3] rounded-[8px]" [ngClass]="size_selected == 'S' ? 'bg-[#E8EAF6]':'bg-[#FFFFFF]'" (click)="setSize('S')">S</button>
        <button class="text-[15px] text-[#424242] font-medium p-4 border-[1px] border-[#1264E3] rounded-[8px]" [ngClass]="size_selected == 'M' ? 'bg-[#E8EAF6]':'bg-[#FFFFFF]'" (click)="setSize('M')">M</button>
        <button class="text-[15px] text-[#424242] font-medium p-4 border-[1px] border-[#1264E3] rounded-[8px]" [ngClass]="size_selected == 'L' ? 'bg-[#E8EAF6]':'bg-[#FFFFFF]'" (click)="setSize('L')">L</button>
      </div>
    </div>
    <div class="flex flex-col mt-4">
      <p class="text-[#424242] text-[16px] font-medium mb-1">ความหวาน</p>
      <div class="grid grid-cols-5 gap-[14px]">
        <button class="text-[15px] text-[#424242] font-medium p-4 border-[1px] border-[#1264E3] rounded-[8px] flex justify-center" [ngClass]="sweet_selected == '100%' ? 'bg-[#E8EAF6]':'bg-[#FFFFFF]'" (click)="setSweet('100%')"> 100%</button>
        <button class="text-[15px] text-[#424242] font-medium p-4 border-[1px] border-[#1264E3] rounded-[8px] flex justify-center" [ngClass]="sweet_selected == '75%' ? 'bg-[#E8EAF6]':'bg-[#FFFFFF]'" (click)="setSweet('75%')">75%</button>
        <button class="text-[15px] text-[#424242] font-medium p-4 border-[1px] border-[#1264E3] rounded-[8px] flex justify-center" [ngClass]="sweet_selected == '50%' ? 'bg-[#E8EAF6]':'bg-[#FFFFFF]'" (click)="setSweet('50%')">50%</button>
        <button class="text-[15px] text-[#424242] font-medium p-4 border-[1px] border-[#1264E3] rounded-[8px] flex justify-center" [ngClass]="sweet_selected == '25%' ? 'bg-[#E8EAF6]':'bg-[#FFFFFF]'" (click)="setSweet('25%')">25%</button>
        <button class="text-[15px] text-[#424242] font-medium p-4 border-[1px] border-[#1264E3] rounded-[8px] flex justify-center" [ngClass]="sweet_selected == '0%' ? 'bg-[#E8EAF6]':'bg-[#FFFFFF]'" (click)="setSweet('0%')">0%</button>
      </div>
    </div>
    <div class="flex flex-col mt-4">
      <p class="text-[#424242] text-[16px] font-medium mb-1">น้ำแข็ง</p>
      <div class="grid grid-cols-5 gap-[14px]">
        <button class="text-[15px] text-[#424242] font-medium p-4 border-[1px] border-[#1264E3] rounded-[8px] flex justify-center" [ngClass]="ice_selected == '70%' ? 'bg-[#E8EAF6]':'bg-[#FFFFFF]'" (click)="setIce('70%')"> 70%</button>
        <button class="text-[15px] text-[#424242] font-medium p-4 border-[1px] border-[#1264E3] rounded-[8px] flex justify-center" [ngClass]="ice_selected == '50%' ? 'bg-[#E8EAF6]':'bg-[#FFFFFF]'" (click)="setIce('50%')">50%</button>
        <button class="text-[15px] text-[#424242] font-medium p-4 border-[1px] border-[#1264E3] rounded-[8px] flex justify-center" [ngClass]="ice_selected == '30%' ? 'bg-[#E8EAF6]':'bg-[#FFFFFF]'" (click)="setIce('30%')">30%</button>
        <button class="text-[15px] text-[#424242] font-medium p-4 border-[1px] border-[#1264E3] rounded-[8px] flex justify-center" [ngClass]="ice_selected == 'แยก' ? 'bg-[#E8EAF6]':'bg-[#FFFFFF]'" (click)="setIce('แยก')">แยก</button>
      </div>
    </div>
    <div class="flex flex-col mt-4">
      <p class="text-[#424242] text-[16px] font-medium mb-1">TOPPING</p>
      <div class="grid grid-cols-2 gap-[14px]">
        <button class="text-[15px] text-[#424242] font-medium p-4 border-[1px] border-[#1264E3] rounded-[8px] flex justify-center" [ngClass]="topping_selected == 'Pineapple Jelly' ? 'bg-[#E8EAF6]':'bg-[#FFFFFF]'" (click)="setTopping('Pineapple Jelly')">Pineapple Jelly</button>
        <button class="text-[15px] text-[#424242] font-medium p-4 border-[1px] border-[#1264E3] rounded-[8px] flex justify-center" [ngClass]="topping_selected == 'Coffee Jelly' ? 'bg-[#E8EAF6]':'bg-[#FFFFFF]'" (click)="setTopping('Coffee Jelly')">Coffee Jelly</button>
        <button class="text-[15px] text-[#424242] font-medium p-4 border-[1px] border-[#1264E3] rounded-[8px] flex justify-center" [ngClass]="topping_selected == 'Rainbow Jelly' ? 'bg-[#E8EAF6]':'bg-[#FFFFFF]'" (click)="setTopping('Rainbow Jelly')">Rainbow Jelly</button>
      </div>
    </div>
    <footer class="w-full pt-4 pb-2">
      <button mat-flat-button class="fuse-mat-button-large w-full rounded-lg bg-[#1264E3]
      text-white font-medium" (click)="confirmed()">ยืนยัน</button>
      <button mat-stroked-button  class=" fuse-mat-button-large w-full rounded-lg stroke-[#1264E3]
      text-[#1264E3] font-medium mt-3" (click)="cancle()">ยกเลิก</button>
  </footer>
</div>
<!--<div class="flex flex-col items-center">
  <img class="w-50 h-45 mt-6" src="assets/images/driver-home/job-time.png" alt="">
  <div class="text-center text-xl font-bold mt-6 mb-4 ">ยืนยันจบงานทั้งหมด</div>
  <div class="text-center text-base mr-10 ml-10">คุณจะไม่สามารถแก้ไขเวลาได้อีก</div>
  <footer class="p-8 w-full">
      <button mat-flat-button  color="primary" class="fuse-mat-button-large w-full rounded-lg
       text-white font-bold" (click)="submit()">
       ยืนยันจบงาน
      </button>
      <button mat-stroked-button  class=" fuse-mat-button-large w-full rounded-lg
      text-black font-bold mt-3" (click)="goto()">ยกเลิก</button>
  </footer>
</div>-->
