<div class="flex flex-col overflow-y-auto">
  <mat-toolbar class="flex justify-between">
    <span class="example-spacer"></span>

    <div>
      <span class="font-bold text-[20px]">{{title}}</span>
    </div>

    <button mat-icon-button mat-dialog-close class="example-icon " aria-label="Example icon-button with menu icon">
      <mat-icon svgIcon="heroicons_outline:x-mark"></mat-icon>
    </button>
  </mat-toolbar>

  <mat-tab-group (selectedIndexChange)="onTabChange($event)">
    <mat-tab label="ข้อมูลพื้นฐาน">

      <div class="flex flex-col justify-between">
        <div class="flex justify-center">
          <form class="flex flex-col w-[712px] h-fit  mt-8 p-8 pb-4 bg-card rounded-2xl overflow-hidden "
            [formGroup]="form">

            <div class="grid w-full grid-cols-2 gap-3 ">
              <div class="w-full">
                <mat-form-field class="flex-auto w-full" subscriptSizing="fixed">
                  <mat-label>รหัสสินค้า</mat-label>
                  <input matInput [formControlName]="'code'" required [placeholder]="'ระบุรหัสสินค้า'">
                  <mat-error>Required field!</mat-error>
                </mat-form-field>
              </div>
              <div class="w-full mb-4">
              </div>
              <div class="relative w-full mb-4">
                <label class="absolute z-40 pl-2 pr-2 text-sm text-gray-400 bg-white -top-2 left-2"
                  for="">ราคาสินค้า</label>
                <div class="w-full mb-4">
                  <mat-form-field class="flex-auto w-full " subscriptSizing="fixed">
                    <mat-label>ราคาสินค้า</mat-label>
                    <input matInput mask="separator.2" thousandSeparator="," separatorLimit="99999999"
                      [allowNegativeNumbers]="false" [formControlName]="'price'" required
                      [placeholder]="'ระบุราคาสินค้า'">
                    <mat-error>Required field!</mat-error>
                  </mat-form-field>
                </div>
                <div class="w-full mb-4">
                  <mat-form-field class="flex-auto w-full">
                    <mat-label>หมวดหมู่</mat-label>
                    <mat-select [formControlName]="'categoryId'" [placeholder]="'ระบุหมวดหมู่'">
                      <mat-option *ngFor="let item of catagories; let i = index;"
                        [value]="item.id">{{item.name}}</mat-option>
                    </mat-select>
                    <mat-error>Required field!</mat-error>
                  </mat-form-field>
                </div>
                <div class="w-full mb-4">
                  <mat-form-field class="flex-auto w-full">
                    <mat-label>หน่วยนับ</mat-label>
                    <mat-select [formControlName]="'unitId'" [placeholder]="'ระบุหน่วย'">
                      <mat-option *ngFor="let item of units; let i = index;"
                        [value]="item.id">{{item.name}}</mat-option>
                    </mat-select>
                    <mat-error>Required field!</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div *ngIf="delete_toggle" class="relative group" (click)="deleteImgToInsert()">
                <img [src]="form.value.image" alt="Uploaded Image" class="opacity-100 group-hover:opacity-50">
                <div class="absolute inset-0 flex items-center justify-center">
                  <button
                    class="px-4 py-2 font-semibold text-white bg-transparent border opacity-0 group-hover:opacity-100 group-hover:bg-red-200 group-hover:text-red-500 border-white-500 group-hover:border-transparent rounded-xl">
                    ลบรูปภาพ
                  </button>
                </div>
              </div>

              <div *ngIf="!delete_toggle" (click)="deleteImgToInsert()">
                <div class="flex justify-center">
                  <ngx-awesome-uploader [adapter]="adapter" [accept]="'image/*'" [uploadType]="'single'" class="w-full"
                    [fileMaxSize]="200" (uploadSuccess)="uploadSuccess($event)"
                    (validationError)="onValidationError($event)">
                  </ngx-awesome-uploader>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="bottom-0 flex justify-between w-full px-8 py-5 mt-8 bg-white border-t dark:bg-gray-700 ">
          <div></div>
          <div mat-dialog-actions class="flex justify-end">
            <button class="px-6 ml-3" mat-flat-button [color]="'primary'" (click)="Submit()">
              ตกลง
            </button>
            <button class="px-6 ml-3" mat-flat-button [color]="'warn'" mat-dialog-close>
              ยกเลิก
            </button>
          </div>
        </div>
      </div>
    </mat-tab>


    <mat-tab label="ข้อมูลเพิ่มเติม">
<!-- tag -->


    <form [formGroup]="orderForm">
      <div formArrayName="pass">
      <div class="w-full" *ngFor="let employee of pro().controls; let empIndex=index">
        <div [formGroupName]="empIndex">
        <div>
        <mat-form-field class="flex-auto w-full" subscriptSizing="fixed">
            <mat-label>ชื่อสินค้า</mat-label>
            <input matInput [formControlName]="'name'" required [placeholder]="'ระบุชื่อสินค้า'">
            <mat-error>Required field!</mat-error>
          </mat-form-field>
        </div>

        <div class="flex w-full mb-4">
          <mat-form-field >
            <mat-label>รูปแบบ</mat-label>
            <mat-select placeholder="Select an option" [formControlName]= "'type'" (selectionChange)="onSelectChange($event)">
              <mat-option value="single" >single</mat-option>
              <mat-option value="quantity">quantity</mat-option>
              <mat-option value="multiple">multiple</mat-option>
            </mat-select>


          </mat-form-field>
        <!-- </div>
        <div> -->

          <button mat-flat-button [color]="'primary'" (click)="addproAt(empIndex)">
          <mat-icon class= "icon-size-5" [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>
          <span class="ml-2 "> เพิ่มรายการ</span>
        </button>
      </div>
        <!-- tagggggggg -->

        <div class="">
          <div class="" formArrayName="skills">
            <div *ngFor="let skill of proAt(empIndex).controls; let skillIndex=index">
              <div class="flex flex-row " [formGroupName]="skillIndex">
              <div class="flex ">
                <mat-form-field class="flex">
                  <mat-label>ชื่อสินค้า</mat-label>
                  <input matInput formControlName="name"  [placeholder]="'ระบุชื่อสินค้า'">
                </mat-form-field>
              </div>
              <div class="flex">
                <mat-form-field class="flex">
                  <mat-label>ราคา</mat-label>
                  <input matInput formControlName="price"  [placeholder]="'ระบุราคา'">
                </mat-form-field>
              </div>
                <button (click)="removeproAt(empIndex,skillIndex)">
                <mat-icon [svgIcon]="'heroicons_solid:trash'"></mat-icon>
                <span>ลบ</span>
              </button>
            </div>
            </div>
          </div>
        </div>


      </div>
      </div>
      </div>
      </form>

      <div>
        <button mat-flat-button [color]="'primary'" (click)="addPro()">
        <mat-icon class= "icon-size-5" [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>
        <span class="ml-2 "> เพิ่มรายการ</span>
      </button>
    </div>
      <!-- //////////////////////////////// -->
      <div mat-dialog-actions class="flex justify-end">
        <button class="px-6 ml-3" mat-flat-button [color]="'primary'" (click)="Submit2()">
          ตกลง
        </button>
        <button class="px-6 ml-3" mat-flat-button [color]="'warn'" mat-dialog-close>
          ยกเลิก
        </button>
      </div>

    </mat-tab>


  </mat-tab-group>
</div>
