<div class="flex flex-col flex-auto min-w-0">
    <div class="flex-auto p-4 m-4 rounded-md sm:p-10 bg-card">
      <div class="flex flex-row justify-between pb-2 my-5">
        <div>
          <h2 class="text-2xl font-extrabold leading-7 tracking-tight truncate md:text-xl sm:leading-10">
            รายการสมาชิก
          </h2>
        </div>
        <button mat-flat-button [color]="'primary'" (click)="opendialogapro()">
          <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>
          <span class="ml-2"> เพิ่มสมาชิก</span>
        </button>
      </div>
      <div class="overflow-auto">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table row-border hover w-full bg-white whitespace-nowrap">
        </table>
      </div>
    </div>
  </div>

  <ng-template #btNg let-data="adtData">
    <button mat-icon-button [color]="'primary'" [matMenuTriggerFor]="menu">
      <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:cog-8-tooth'"></mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="openDialogEdit(data)">
        <mat-icon [svgIcon]="'heroicons_solid:pencil-square'"></mat-icon>
        <span>แก้ไข</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="clickDelete(data.id)">
        <mat-icon [svgIcon]="'heroicons_solid:trash'"></mat-icon>
        <span>ลบ</span>
      </button>
    </mat-menu>
  </ng-template>
